:root {
  --vp-c-brand-1: #008fcc;
  --vp-c-brand-2: #4dc9ff;
  --vp-c-brand-3: #33c1ff;
}

.dark {
  --vp-c-brand-1: #4dc9ff;
  --vp-c-brand-2: #66d1ff;
}

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: linear-gradient(135deg, #ff8d1a, #ff5733, #33ff99, var(--vp-c-brand-3));

  --vp-home-hero-image-background-image: linear-gradient(
    135deg,
    #ff8d1a 20%,
    #ff5733 45%,
    #33ff99 60%,
    var(--vp-c-brand-1) 70%
  );
  --vp-home-hero-image-filter: blur(44px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(68px);
  }
}

.elfjS > pre,
._1l1MA > pre,
.xFUwe > pre {
  border-radius: 8px;
  background-color: var(--vp-code-block-bg);
  padding: 20px 24px;
  font-size: 14px;
  white-space: pre-wrap;
}
