name: Deploy Vitepress Site to Github Pages

on:
  push:
    branches: [main]
    paths:
      - 'docs/**'
      - 'solutions/**'
      - pnpm-lock.yaml
      - package.json

  workflow_dispatch:

jobs:
  build:
    uses: tzuyi0817/workflows/.github/workflows/deploy-github-pages.yml@v1
    with:
      fetch-depth: true
      build: pnpm run generate-md && NODE_OPTIONS=--max-old-space-size=8192 pnpm run docs:build
      production-files: docs/.vitepress/dist

    permissions:
      contents: read
      pages: write
      id-token: write
